[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/vangala0605
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vangala0605
	label-Verified = -1..+1 group user/vangala0605
	push = group user/vangala0605
	read = group user/vangala0605
	rebase = group user/vangala0605
	removeReviewer = group user/vangala0605
	submit = group user/vangala0605
[access "refs/heads/*"]
	create = group user/vangala0605
	push = +force group user/vangala0605
	pushMerge = group user/vangala0605
	read = group user/vangala0605
[access "refs/tags/*"]
	push = group user/vangala0605
	push = +force group user/vangala0605
